body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: darkgray;   
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(119, 113, 113);
    padding: 10px;
}
nav > a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    text-decoration: underline;
    color: aquamarine;
}

main{
    background-color: white;
    padding: 10px;
}


section{
    padding: 10px;
    background-color: rgb(219, 213, 213);

}

.secao1{
    padding: 10px;
    background-color: rgb(100, 100, 218);
    color: black;
}

article{
    background-color: brown;
    padding: 10px;
}

article > aside{
    background-color: black;
    color: aquamarine;
    padding: 10px;
}

footer{
    background-color: orange;
    color: black;
    margin: 0px;
    text-align: center;
}

